body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    margin-top: 50px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

input {
    margin: auto;
    font-size: 20px;
    width: auto;
    height: auto;
    width: 80px;
    height: 40px;
}

button {
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(172, 172, 172);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

#rango {
    margin: 30px;
    text-align: center;
    font-size: 18px;
}